{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Hello World!</h1>

      <p class="subtitle">Welcome to {{title}}</p>
    </div>
  </div>
</header>

<div>
    <input class="text" type="text" id="issueKey" name="issueKey" value="{{issueKey}}">
    <input class="text" type="text" id="token" name="token" value="{{token}}">
</div>
